{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <title>Questionários respondidos</title>
  </head>
  <body>
    <div class="container mt-5">
        <h1 class="text-center">Questionários respondidos</h1>
		<a class="btn btn-secondary mb-5" href="{% url 'index' %}">Voltar</a>

        <div class="row mt-5">

			{% for answer in object_list %}
				<div class="col-lg-4 mt-2 mb-2">
					<div class="card text-center">
						<div class="card-body">
							<h6 class="card-title">{{ answer.question.title }}</h6>
							<p class="card-text">{{ answer.user }}</p>
							<p class="card-text">{{ answer.answered_at }}</p>
							<a href="{% url 'answer_view' answer_id=answer.id %}" class="btn btn-primary">Ver</a>
						</div>
					</div>
				</div>
			{% empty %}
				No questions answered
			{% endfor %}
		</div>


  </div>
  <script src="{% static 'bootstrap.js' %}"></script>

  </body>
</html>