{% load static tag_library %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <title>Detalhes das respostas</title>
  </head>
  <body>
    <div class="container mt-5">
        <h1 class="text-center">Detalhes das respostas</h1>
        <a class="btn btn-secondary mb-2" href="{% url 'index' %}">Voltar</a>

            <h3>{{ answer.question.title }}</h3>
            {% for field in form %}
              <div class="col-xs-12 mt-2 mb-2">
                  {{ field.label }}
                  {{ field }}
              </div>
            {% endfor %}

			{% for q in questions %}
				<div class="col-xs-12 mt-2 mb-2">
					<label for="question_{{ forloop.counter }}">{{ q }}</label>
					<input data-answer id="question_{{ forloop.counter }}" type="text" name="question_{{ forloop.counter }}" class="form-control" value="{{ answer.answers|get_value_of_index:forloop.counter0 }}" disabled>
				</div>
            {% endfor %}

        </form>

  </div>

  <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'bootstrap.js' %}"></script>

  </body>
</html>