{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <title>Questionários criados</title>
  </head>
  <body>
    <div class="container mt-5">
        <h1 class="text-center">Questionários criados</h1>
		<a class="btn btn-secondary" href="{% url 'index' %}">Voltar</a>

        <div class="row mt-5 mb-3">
			{% for question in object_list %}
				<div class="col-lg-4 mt-2 mb-2">
					<div class="card text-center">
						<div class="card-body">
							<h6 class="card-title">{{ question.title }}</h6>
							<p class="card-text">{{ question.user }}</p>
							<p class="card-text">{{ question.created_at }}</p>
							<a href="{% url 'answer_create' question_id=question.id %}" class="btn btn-primary">Responder</a>
						</div>
					</div>
				</div>
			{% empty %}
				No questions yet
			{% endfor %}
		</div>


  </div>
  <script src="{% static 'bootstrap.js' %}"></script>

  </body>
</html>